<!-- Title: about.html.erb-->
<!-- About page-->
<!-- Author: RH-->

<div class="container">
   <div class="row">
      <div class="box">
         <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">About
               <strong>Baristamatic</strong>
            </h2>
            <hr>
         </div>
         <div class="col-md-6">
             All images pulled from Rails app/assets/images -->
            <img class="img-responsive img-border-left" src="/assets/slide-1.jpg" alt="">
         </div>
         <div class="col-md-6">
            <p>Great drinks at the Rock.</p>

            <p>Open sunrise to sunset</p>
         </div>
         <div class="clearfix"></div>
      </div>
   </div>
</div>



