<%# Title: application.html.erb %>
<%# Main layout page - all jquery, bootstrap, angular js and all 'Barisamatic' angular module code is loaded by this page %>
<%# Author: RH %>

<!DOCTYPE html>
<html>
<head>
    <title>TestBaristamaticRailsBootstrap</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <!-- Required for HTML5 $location use -->
    <base href="/">
</head>
<body>
<div class="brand">Baristamatic</div>
<div class="address-bar">302 Wilcox Street | Castle Rock, CO 80104 | 123.456.7890</div>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="/baristamatic">Baristamatic</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/baristamatic">Home</a>
                </li>
                <!-- Link to Angular templates here -->
                <li>
                    <a href="/baristamatic/about">About</a>
                </li>
                <li>
                    <a href="/baristamatic/blog">Blog</a>
                </li>
                <li>
                    <a href="/baristamatic/contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<%= yield %>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>WebPilot LLC 2014</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
